.profile {

}

.ProfileTitle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.ProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}